<div class="jumbotron jumbotron-fluid mt-5">

    <div class="container row">
        <div class="col-5 offset-2">
            <h1 class="display-4">TRAVEL INSURANCE</h1>
            <p class="lead">Travel insurance is a vital aspect to booking a holiday, giving you protection against unforeseen circumstances that could otherwise spoil your holiday.</p>
        </div>
        <div class="col-5">
            <img class="img-fluid" src="../../assets/img/insurance.jpg">
        </div>
    </div>
</div>