<div class="container mb-5 p-4"></div>
<h3 class="text-center">Who are we?</h3>
<br>
<p class="">Dream Travel is the leading classic and sports car tour operator. Established in 1996 we are the only classic and sports car tour operator to be both members of Association of British Travel Agents and the Association of Independent Tour Operators. Travel
    Destinations also hold an ATOL licence, so whichever of our exciting destinations you choose to go to, you can book safe in the knowledge that whatever happens your booking is financially protected and that you will receive the best advice and the
    highest level of customer service. ATOL is a government backed holiday scheme. See below for more details. All Travel Destinations staff have a background and training from within the travel industry. Customer service is always a priority. All our
    staff also visit & work at our events, which enables them to talk to you with a unique experience of what an event is like. Our speciality is Le Mans and we all have stories to tell from the Le Mans 24 Hours & the Le Mans Classic. All our bookings
    are made bespoke to your requirements. Although we feature examples, schedules and prices on this website, these can always be changed and altered to meet your plans. We can tailor make your holiday to fit you. That is one of the reasons that we don't
    offer an on-line booking service. Don't restrict yourself to a tick-box option. Call our knowledgeable staff today & get your booking started with their help & advice. Call us now on 01707 329988 or +44 1707 329988 (International) We look forward
    to hearing from you.

</p>

<div class="container mt-5">
    <div class="row">
        <div class="col-5">
            <img class="img-fluid" src="../../assets/img/bg2.jpg">
        </div>
        <div class="col-7">
            <h4 class="text-center">BOOK WITH CONFIDENCE</h4>
            <p>Since incorporation Travel Destinations has become an established member of ABTA and holds an ATOL license, sending in excess of 8000 classic car enthusiasts to a wide variety of events and tours all over Europe each year.
            </p>
        </div>
    </div>
    <div class="row mt-5 mb-5 mx-auto">
        <div class="col-3  bg-light">
            <i id="globe" class="fas fa-globe"></i>
            <p class="text-center">24HRS HOTLINE</p>
            <p class="text-center">We have a 24 hour on-circuit advice line. We are available throughout the entire week, just in case you need us.</p>
        </div>
        <div class="col-3 offset-1 bg-light ">
            <i id="plane" class="fas fa-plane"></i>
            <br>
            <p class="text-center">TRAVEL ARRANGEMENTS</p>
            <p class="text-center">We can help you arrange your travel requirements to suit your needs. We offer travel from ferry, trains and planes.</p>
        </div>
        <div class="col-3 offset-1 bg-light mx-auto">
            <i id="hause" class="fas fa-house-user"></i>
            <p class="text-center">ACCOMMODATION</p>
            <p class="text-center">At Le Mans we have a 24 hour on-circuit advice line. We are available throughout the entire week, just in case you need us.</p>
        </div>
    </div>
</div>